.mainPage{
  width: 100%;
  height: 3064px;
  margin: auto;
  position: relative;
  &__bgOne{
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 29.28%), linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 29.28%), url('../../image/main-bg-one.gif'), lightgray 50%;
    height: 1465px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position-x: center;
  }

  &__bgCenter{
    width: 100%;
    height: 134px;
    background: #000;
    top: 1465px;
    position: absolute;
  }
  &__bgTwo{
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 29.28%), linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 29.28%), url('../../image/main-bg-two.gif'), lightgray 50%;
    height: 1465px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: calc(1465px + 134px);
    background-position-x: center;
  }
}
.title{
  position: absolute;
  min-height: 280px;
  top: 275px;
  left: 50%;
  transform: translateX(-50%);
  animation: slideTitle 3s ease forwards;
  &__title{
    color: #D8D8DF;
    text-align: center;
    font-family: Toba, Inter, sans-serif;
    font-size: 290px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    @media screen and (max-width: 1280px){
      font-size: 220px;
    }
    @media screen and (max-width: 1024px){
      font-size: 150px;
    }
    @media screen and (max-width: 767px){
      font-size: 55px;
    }
  }
  &__subtitle{
    color: #FFF;
    text-align: center;
    font-family: Montserrat, Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin: 0;
    @media screen and (max-width: 1280px){
      font-size: 20px;
      line-height: 1.5;
    }
    @media screen and (max-width: 767px){
      font-size: 14px;
      letter-spacing: 5px;
    }
  }
}
@keyframes slideTitle {
  0% {
    top: 275px;
  }
  100% {
    top: 380px;
  }
}

.main{
  position: relative;
  height: calc(1465px * 2 - 70px - 161px + 134px);
  padding: 185px 100px 0 100px;
  box-sizing: border-box;
  @media screen and (max-width: 1024px){
    padding: 185px 70px 0 70px;
  }
  @media screen and (max-width: 767px){
    padding: 30px 10px 0 10px;
    height: 2650px;
  }
  &__text{
    color: #FFF;
    font-family: Montserrat, Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-variant: small-caps;
    margin: 0;
    @media screen and (max-width: 1280px){
      font-size: 30px;
    }
    @media screen and (max-width: 1024px){
      font-size: 26px;
    }
    @media screen and (max-width: 767px){
      font-size: 16px;
    }
  }
  &__textRigthBlock{
    display: flex;
    justify-content: right;
    padding-top: 10px;
  }
  &__text_type_leftWidth{
    max-width: 962px;
    text-align: left;
    margin-bottom: 48px;
  }
  &__text_type_rigth{
    text-align: right;
    margin-top: 50px;
  }
  &__text_type_rightWidth{
    max-width: 962px;
    text-align: right;
    font-size: 40px;
    @media screen and (max-width: 1280px){
      font-size: 36px;
    }
    @media screen and (max-width: 1024px){
      font-size: 32px;
    }
    @media screen and (max-width: 767px){
      font-size: 24px;
    }
  }
  &__info{
    padding-top: 920px;
    box-sizing: border-box;
    @media screen and (max-width: 767px){
      padding-top: 700px;
    }
  }
  &__infoContainer{
    display: flex;
    column-gap: 10px;
    padding-top: 250px;
    justify-content: space-evenly;
    @media screen and (max-width: 767px){
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
    }
  }
  &__infoTitle{
    color: #D0D0D0;
    font-family: Montserrat, Inter, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    max-width: 750px;
    width: 100%;
    margin: 0;
    @media screen and (max-width: 1280px){
      font-size: 60px;
    }
    @media screen and (max-width: 1024px){
      font-size: 45px;
    }
    @media screen and (max-width: 767px){
      font-size: 30px;
      text-align: center;
    }
  }
  &__infoTitle_type_size{
    font-size: 128px;
    @media screen and (max-width: 1279px){
      font-size: 100px;
    }
    @media screen and (max-width: 1024px){
      font-size: 80px;
    }
  }
  &__qr{
    width: 502px;
    background-image: url("../../image/main__qr-code.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    height: 502px;
    @media screen and (max-width: 767px){
      width: 280px;
      height: 280px;
    }
  }
}
