.mainPage{
  max-width: 1440px;
  width: 100%;
  height: 3064px;
  margin: auto;
  position: relative;
  &__bgOne{
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 29.28%), linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 29.28%), url('../../image/main-bg-one.png'), lightgray 50%;
    height: 1465px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }
  &__crag{
    width: 776px;
    height: 366px;
    left: 309px;
    top: 545px;
    background-image: url("../../image/crag.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
  }
  &__bgCenter{
    width: 100%;
    height: 134px;
    background: #000;
    top: 1465px;
    position: absolute;
  }
  &__bgTwo{
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 29.28%), linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 29.28%), url('../../image/main-bg-two.png'), lightgray 50%;
    height: 1465px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: calc(1465px + 134px);
  }
}
.header{
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(7.5px);
  &__nav{
    width: 100%;
  }
  &__list{
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    column-gap: 100px;
    justify-content: center;
  }
  &__item{
    color: #FFF;
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-variant: small-caps;
    cursor: pointer;
    transition: color 0.5s ease;
  }
  &__item:hover{
    color: #d21717;
  }
}
.title{
  position: absolute;
  min-height: 280px;
  top: 275px;
  left: 100px;
  animation: slideTitle 3s ease forwards;
  &__title{
    color: #D8D8DF;
    text-align: center;
    font-family: Toba, Inter, sans-serif;
    font-size: 290px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  &__subtitle{
    color: #FFF;
    text-align: center;
    font-family: Montserrat, Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin: 0;
  }
}
@keyframes slideTitle {
  0% {
    top: 275px;
  }
  100% {
    top: 380px;
  }
}

.main{
  position: relative;
  height: calc(1465px * 2 - 70px - 161px + 134px);
  padding: 185px 100px 0 100px;
  box-sizing: border-box;
/*  &__titleBlock{
    position: absolute;
    min-height: 280px;
    top: 275px;
    left: 100px;
  }*/
/*  &__title{
    color: #D8D8DF;
    text-align: center;
    font-family: Toba, Inter, sans-serif;
    font-size: 290px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  &__subtitle{
    color: #FFF;
    text-align: center;
    font-family: Montserrat, Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin: 0;
  }*/
  &__text{
    color: #FFF;
    font-family: Montserrat, Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-variant: small-caps;
    margin: 0;
  }
  &__textRigthBlock{
    display: flex;
    justify-content: right;
    padding-top: 10px;
  }
  &__text_type_leftWidth{
    max-width: 962px;
    text-align: left;
    margin-bottom: 48px;
  }
  &__text_type_rigth{
    text-align: right;
    margin-top: 50px;
  }
  &__text_type_rightWidth{
    max-width: 962px;
    text-align: right;
    font-size: 40px;
  }
  &__info{
    padding-top: 920px;
    box-sizing: border-box;
  }
  &__infoContainer{
    display: flex;
    column-gap: 10px;
    padding-top: 250px;
    justify-content: center;
  }
  &__infoTitle{
    color: #D0D0D0;
    font-family: Montserrat, Inter, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    max-width: 750px;
    width: 100%;
    margin: 0;
  }
  &__infoTitle_type_size{
    font-size: 128px;
  }
  &__qr{
    width: 502px;
    background-image: url("../../image/main__qr-code.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
  }
}
.footer{
  position: relative;
  padding: 30px 105px;
  &__list{
    padding-left: 0;
    list-style: none;
    column-gap: 100px;
    display: flex;
    margin: 0;
    justify-content: space-between;
  }
  &__link{
    color: #FFF;
    font-family: Montserrat, Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    text-decoration: none;
  }
  &__text{
    margin: 50px 0 0 0;
    color: rgba(255, 255, 255, 0.50);
    font-family: Montserrat, Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
  }
}
