.passwordPage{
    background-color: black;
    height: 100vh;
    width: 100vw;
     &__container{
          width: 100%;
          height: 100%;
          background-image: url("../../image/register-bg.png");
          background-repeat: no-repeat;
          background-size: cover;
          margin: auto;
      }
     &__formContainer{
          display: flex;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          column-gap: 50px;
          max-width: 1340px;
          width: 100%;
       @media screen and (max-width: 1439px){
         max-width: 1200px;
       }
       @media screen and (max-width: 1279px){
         max-width: 1000px;
       }
       @media screen and (max-width: 1023px){
         max-width: 750px;
       }
       @media screen and (max-width: 767px){
         max-width: 310px;
       }
      }
     &__form{
          border-radius: 30px;
          border: 2px solid #FFF;
          background: rgba(0, 0, 0, 0.20);
          backdrop-filter: blur(7.5px);
          width: 100%;
          padding: 30px 30px 24px 30px;
          box-sizing: border-box;
       @media screen and (max-width: 767px){
         padding: 10px;
       }
      }
     &__blockName{
          display: flex;
          column-gap: 30px;
      }
     &__title{
          color: #FFF;
          text-align: center;
          font-family: Montserrat, Inter, sans-serif;
          font-size: 48px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin: 0;
       @media screen and (max-width: 1023px){
         font-size: 35px;
       }
       @media screen and (max-width: 767px){
         font-size: 22px;
       }
      }
     &__title_left{
          text-align: left;
      }
     &__subtitle{
          color: #FFF;
          text-align: center;
          font-family: Montserrat, Inter, sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
       @media screen and (max-width: 1023px){
         font-size: 20px;
       }
       @media screen and (max-width: 767px){
         font-size: 16px;
         margin: 5px 0;
       }
      }
     &__titleText{
          color: #FFF;
          font-family: Montserrat, Inter, sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
       @media screen and (max-width: 1023px){
         font-size: 18px;
       }
       @media screen and (max-width: 767px){
         margin: 10px 0;
       }
      }
     &__input{
          width: 100%;
          background: none;
          border-radius: 10px;
          border: 1px solid #FFF;
          height: 63px;
          padding: 0 15px;
          box-sizing: border-box;
          color: rgba(255, 255, 255, 0.80);
          font-family: Montserrat, Inter, sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
       @media screen and (max-width: 1023px){
         padding: 0 10px;
         font-size: 16px;
         height: 50px;
       }
       @media screen and (max-width: 767px){
         height: 40px;
       }
      }
     &__input::placeholder{
          color: rgba(255, 255, 255, 0.80);
          font-family: Montserrat, Inter, sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
       @media screen and (max-width: 1023px){
         font-size: 16px;
       }
      }
     &__input:focus{
          box-shadow: 0 0 5px 3px white;
       @media screen and (max-width: 1023px){
         font-size: 16px;
       }
      }
     &__input::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.80);
          font-family: Montserrat, Inter, sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
       @media screen and (max-width: 1023px){
         font-size: 16px;
       }
      }
     &__input:-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.80);
          font-family: Montserrat, Inter, sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
       @media screen and (max-width: 1023px){
         font-size: 16px;
       }
      }
     &__subtext{
          color: #FFF;
          font-family: Montserrat, Inter, sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
       @media screen and (max-width: 767px){
         font-size: 18px;
         text-align: center;
       }
     }
          &__subtext_error{
               font-weight: bold;
               color: #d21717;
          }
     &__btnContainer{
          display: flex;
          justify-content: space-between;
          padding: 36px 0 0 0;
          margin: 0;
          width: 100%;
       @media screen and (max-width: 767px){
         padding: 15px 0 0 0;
       }
      }
     &__submit{
          width: 257.627px;
          height: 60px;
          color: #FFF;
          text-align: center;
          font-family: Montserrat, Inter, sans-serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          padding: 0;
          margin: 0;
          border-radius: 150px;
          border: 4px solid #FFF;
          background: none;
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
          cursor: pointer;
       @media screen and (max-width: 1023px){
         font-size: 24px;
       }
      }
     &__footer{
          background-image: url("../../image/password-footer-icon.png");
          background-size: contain;
          background-repeat: no-repeat;
          width: 293px;
          height: 57px;
          margin: 75px auto 0;
          background-position-x: center;
       @media screen and (max-width: 767px){
         margin: 20px auto 0;
         width: 270px;
       }
      }
     &__passwordContainer{
          position: relative;
     }
     &__password-control {
          position: absolute;
          top: 50%;
          right: 20px;
          display: inline-block;
          width: 30px;
          height: 30px;
          transform: translateY(-50%);
          background-image: url('../../image/view-password.svg');
          background-repeat: no-repeat;
          color: white;
     }
     &__password-control_view {
          position: absolute;
          top: 50%;
          right: 20px;
          display: inline-block;
          width: 30px;
          height: 30px;
          transform: translateY(-50%);
          fill: white;
          background-image: url('../../image/no-view-password.svg');
          background-repeat: no-repeat;
     }
}
